In [1]:
import chromadb

from modules.llm import *
from modules.utils import *
from langchain.globals import set_llm_cache
from langchain_community.cache import SQLiteCache
set_llm_cache(SQLiteCache(database_path="./data/.langchain.db"))

In [2]:
# load the configuration and device
config = load_config_and_device("config.json")
config["training"] = False
config["type_of_data"] = "dataset"
# load the persistent database using ChromaDB
client = chromadb.PersistentClient(path=config["persist_dir"])
print(config)
# Loading the metadata for all types

# Setup llm chain, initialize the retriever and llm, and setup Retrieval QA
qa_dataset = setup_vector_db_and_qa(config=config, data_type="dataset", client=client)

[INFO] Finding device.
[INFO] Device found: cpu
{'rqa_prompt_template': 'This database is a list of dataset metadata. Use the following pieces of context to find the relevant document. Answer only from the context given using the {question} given. If you do not know the answer, say you do not know. {context}', 'num_return_documents': 50, 'embedding_model': 'BAAI/bge-base-en-v1.5', 'persist_dir': './data/chroma_db/', 'data_download_n_jobs': 20, 'training': False, 'ignore_downloading_data': True, 'search_type': 'similarity', 'temperature': 0.95, 'top_p': 0.95, 'reranking': False, 'long_context_reorder': True, 'device': 'cpu', 'type_of_data': 'dataset'}
[INFO] Loading metadata from file.
[INFO] Metadata loaded.
[INFO] Loading model...

/Users/eragon/.pyenv/versions/3.9.19/envs/openml/lib/python3.9/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
/Users/eragon/.pyenv/versions/3.9.19/envs/openml/lib/python3.9/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

[INFO] Model loaded.

In [3]:
openml_data_object, data_id, all_metadata = get_all_metadata_from_openml(
        config=config
    )
# Create the combined metadata dataframe
metadata_df, all_metadata = create_metadata_dataframe(
    openml_data_object, data_id, all_metadata, config=config
)

[INFO] Loading metadata from file.
[INFO] Metadata loaded.

In [4]:

# Create the vector store
vectordb = load_document_and_create_vector_store(
    metadata_df, config=config, chroma_client=client
)

[INFO] Loading model...

/Users/eragon/.pyenv/versions/3.9.19/envs/openml/lib/python3.9/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
/Users/eragon/.pyenv/versions/3.9.19/envs/openml/lib/python3.9/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

[INFO] Model loaded.

In [11]:
# qa = initialize_llm_chain(vectordb=vectordb, config=config)

qa = vectordb.as_retriever(
        search_type=config["search_type"],
        search_kwargs={"k": 5},
    )

In [19]:
qa.invoke(input="mushroom dataset")

[Document(page_content='Meta-Album Fungi dataset is created by sampling the Danish Fungi 2020 dataset(https://arxiv.org/abs/2103.10107), itself a sampling of the Atlas of Danish Fungi repository. The images and labels which enter this database are sourced by a group consisting of 3 300 citizen botanists, then verified by their peers using a ranking of each person reliability, then finally verified by experts working at the Atlas. Of the 128 classes in the original Danish Fungi 2020 dataset, FNG retains the 25 most populous classes, belonging to six genera, for a total of 15 122 images total, with min 372, and max 1 221 images per class. Each image contains a colored 128x128 image of a fungus or a piece of a fungus from the corresponding class. Because the initial data were of widely varying sizes, we needed to crop a significant portion of the images, which we implemented by taking the largest possible square with center at the middle of the initial image. We then scaled each squared image to the 128x128', metadata={'did': 44272, 'name': 'Meta_Album_FNG_Micro'}),
 Document(page_content='### **Dataset Details**\n![](https://meta-album.github.io/assets/img/samples/FNG.png)\n\n**Meta Album ID**: PLT.FNG  \n**Meta Album URL**: [https://meta-album.github.io/datasets/FNG.html](https://meta-album.github.io/datasets/FNG.html)  \n**Domain ID**: PLT  \n**Domain Name**: Plants  \n**Dataset ID**: FNG  \n**Dataset Name**: Fungi  \n**Short Description**: Fungi dataset from Denmark  \n**\\# Classes**: 25  \n**\\# Images**: 15122  \n**Keywords**: fungi, ecology, plants  \n**Data Format**: images  \n**Image size**: 128x128  \n\n**License (original data release)**: BSD-3-Clause License  \n**License URL(original data release)**: https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE\n \n**License (Meta-Album data release)**: BSD-3-Clause License  \n**License URL (Meta-Album data release)**: [https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE](https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE)', metadata={'did': 44335, 'name': 'Meta_Album_FNG_Extended'}),
 Document(page_content="### Description\n\nThis dataset describes mushrooms in terms of their physical characteristics. They are classified into: poisonous or edible.\n\n### Source\n```\n(a) Origin: \nMushroom records are drawn from The Audubon Society Field Guide to North American Mushrooms (1981). G. H. Lincoff (Pres.), New York: Alfred A. Knopf \n\n(b) Donor: \nJeff Schlimmer (Jeffrey.Schlimmer '@' a.gp.cs.cmu.edu)\n```\n\n### Dataset description\n\nThis dataset includes descriptions of hypothetical samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. Each species is identified as definitely edible, definitely poisonous, or of unknown edibility and not recommended. This latter class was combined with the poisonous one. The Guide clearly states that there is no simple rule for determining the edibility of a mushroom; no rule like ``leaflets three, let it be'' for Poisonous Oak and Ivy.", metadata={'did': 24, 'name': 'mushroom'}),
 Document(page_content="### Description\n\nThis dataset describes mushrooms in terms of their physical characteristics. They are classified into: poisonous or edible.\n\n### Source\n```\n(a) Origin: \nMushroom records are drawn from The Audubon Society Field Guide to North American Mushrooms (1981). G. H. Lincoff (Pres.), New York: Alfred A. Knopf \n\n(b) Donor: \nJeff Schlimmer (Jeffrey.Schlimmer '@' a.gp.cs.cmu.edu)\n```\n\n### Dataset description\n\nThis dataset includes descriptions of hypothetical samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. Each species is identified as definitely edible, definitely poisonous, or of unknown edibility and not recommended. This latter class was combined with the poisonous one. The Guide clearly states that there is no simple rule for determining the edibility of a mushroom; no rule like ``leaflets three, let it be'' for Poisonous Oak and Ivy.", metadata={'did': 24, 'name': 'mushroom'}),
 Document(page_content='### **Dataset Details**\n![](https://meta-album.github.io/assets/img/samples/FNG.png)\n\n**Meta Album ID**: PLT.FNG  \n**Meta Album URL**: [https://meta-album.github.io/datasets/FNG.html](https://meta-album.github.io/datasets/FNG.html)  \n**Domain ID**: PLT  \n**Domain Name**: Plants  \n**Dataset ID**: FNG  \n**Dataset Name**: Fungi  \n**Short Description**: Fungi dataset from Denmark  \n**\\# Classes**: 25  \n**\\# Images**: 1000  \n**Keywords**: fungi, ecology, plants  \n**Data Format**: images  \n**Image size**: 128x128  \n\n**License (original data release)**: BSD-3-Clause License  \n**License URL(original data release)**: https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE\n \n**License (Meta-Album data release)**: BSD-3-Clause License  \n**License URL (Meta-Album data release)**: [https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE](https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE)', metadata={'did': 44302, 'name': 'Meta_Album_FNG_Mini'})]

In [20]:
vectordb.similarity_search_with_relevance_scores("mushroom dataset")

[(Document(page_content='Meta-Album Fungi dataset is created by sampling the Danish Fungi 2020 dataset(https://arxiv.org/abs/2103.10107), itself a sampling of the Atlas of Danish Fungi repository. The images and labels which enter this database are sourced by a group consisting of 3 300 citizen botanists, then verified by their peers using a ranking of each person reliability, then finally verified by experts working at the Atlas. Of the 128 classes in the original Danish Fungi 2020 dataset, FNG retains the 25 most populous classes, belonging to six genera, for a total of 15 122 images total, with min 372, and max 1 221 images per class. Each image contains a colored 128x128 image of a fungus or a piece of a fungus from the corresponding class. Because the initial data were of widely varying sizes, we needed to crop a significant portion of the images, which we implemented by taking the largest possible square with center at the middle of the initial image. We then scaled each squared image to the 128x128', metadata={'did': 44272, 'name': 'Meta_Album_FNG_Micro'}),
  0.7407585280258568),
 (Document(page_content='### **Dataset Details**\n![](https://meta-album.github.io/assets/img/samples/FNG.png)\n\n**Meta Album ID**: PLT.FNG  \n**Meta Album URL**: [https://meta-album.github.io/datasets/FNG.html](https://meta-album.github.io/datasets/FNG.html)  \n**Domain ID**: PLT  \n**Domain Name**: Plants  \n**Dataset ID**: FNG  \n**Dataset Name**: Fungi  \n**Short Description**: Fungi dataset from Denmark  \n**\\# Classes**: 25  \n**\\# Images**: 15122  \n**Keywords**: fungi, ecology, plants  \n**Data Format**: images  \n**Image size**: 128x128  \n\n**License (original data release)**: BSD-3-Clause License  \n**License URL(original data release)**: https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE\n \n**License (Meta-Album data release)**: BSD-3-Clause License  \n**License URL (Meta-Album data release)**: [https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE](https://github.com/picekl/DanishFungiDataset/blob/main/LICENSE)', metadata={'did': 44335, 'name': 'Meta_Album_FNG_Extended'}),
  0.7330169527445273),
 (Document(page_content="### Description\n\nThis dataset describes mushrooms in terms of their physical characteristics. They are classified into: poisonous or edible.\n\n### Source\n```\n(a) Origin: \nMushroom records are drawn from The Audubon Society Field Guide to North American Mushrooms (1981). G. H. Lincoff (Pres.), New York: Alfred A. Knopf \n\n(b) Donor: \nJeff Schlimmer (Jeffrey.Schlimmer '@' a.gp.cs.cmu.edu)\n```\n\n### Dataset description\n\nThis dataset includes descriptions of hypothetical samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. Each species is identified as definitely edible, definitely poisonous, or of unknown edibility and not recommended. This latter class was combined with the poisonous one. The Guide clearly states that there is no simple rule for determining the edibility of a mushroom; no rule like ``leaflets three, let it be'' for Poisonous Oak and Ivy.", metadata={'did': 24, 'name': 'mushroom'}),
  0.7324438820453247),
 (Document(page_content="### Description\n\nThis dataset describes mushrooms in terms of their physical characteristics. They are classified into: poisonous or edible.\n\n### Source\n```\n(a) Origin: \nMushroom records are drawn from The Audubon Society Field Guide to North American Mushrooms (1981). G. H. Lincoff (Pres.), New York: Alfred A. Knopf \n\n(b) Donor: \nJeff Schlimmer (Jeffrey.Schlimmer '@' a.gp.cs.cmu.edu)\n```\n\n### Dataset description\n\nThis dataset includes descriptions of hypothetical samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. Each species is identified as definitely edible, definitely poisonous, or of unknown edibility and not recommended. This latter class was combined with the poisonous one. The Guide clearly states that there is no simple rule for determining the edibility of a mushroom; no rule like ``leaflets three, let it be'' for Poisonous Oak and Ivy.", metadata={'did': 24, 'name': 'mushroom'}),
  0.7324436080908093)]

In [21]:
vectordb.max_marginal_relevance_search("mushroom dataset", lambda_mult=.3)

[Document(page_content='Meta-Album Fungi dataset is created by sampling the Danish Fungi 2020 dataset(https://arxiv.org/abs/2103.10107), itself a sampling of the Atlas of Danish Fungi repository. The images and labels which enter this database are sourced by a group consisting of 3 300 citizen botanists, then verified by their peers using a ranking of each person reliability, then finally verified by experts working at the Atlas. Of the 128 classes in the original Danish Fungi 2020 dataset, FNG retains the 25 most populous classes, belonging to six genera, for a total of 15 122 images total, with min 372, and max 1 221 images per class. Each image contains a colored 128x128 image of a fungus or a piece of a fungus from the corresponding class. Because the initial data were of widely varying sizes, we needed to crop a significant portion of the images, which we implemented by taking the largest possible square with center at the middle of the initial image. We then scaled each squared image to the 128x128', metadata={'did': 44272, 'name': 'Meta_Album_FNG_Micro'}),
 Document(page_content="### Description\n\nThis dataset describes mushrooms in terms of their physical characteristics. They are classified into: poisonous or edible.\n\n### Source\n```\n(a) Origin: \nMushroom records are drawn from The Audubon Society Field Guide to North American Mushrooms (1981). G. H. Lincoff (Pres.), New York: Alfred A. Knopf \n\n(b) Donor: \nJeff Schlimmer (Jeffrey.Schlimmer '@' a.gp.cs.cmu.edu)\n```\n\n### Dataset description\n\nThis dataset includes descriptions of hypothetical samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. Each species is identified as definitely edible, definitely poisonous, or of unknown edibility and not recommended. This latter class was combined with the poisonous one. The Guide clearly states that there is no simple rule for determining the edibility of a mushroom; no rule like ``leaflets three, let it be'' for Poisonous Oak and Ivy.", metadata={'did': 24, 'name': 'mushroom'}),
 Document(page_content='* Dataset:', metadata={'did': 1558, 'name': 'bank-marketing'}),
 Document(page_content='### **Dataset Details**\n![](https://meta-album.github.io/assets/img/samples/MED_LF.png)\n\n**Meta Album ID**: PLT_DIS.MED_LF  \n**Meta Album URL**: [https://meta-album.github.io/datasets/MED_LF.html](https://meta-album.github.io/datasets/MED_LF.html)  \n**Domain ID**: PLT_DIS  \n**Domain Name**: Plant Diseases  \n**Dataset ID**: MED_LF  \n**Dataset Name**: Medicinal Leaf  \n**Short Description**: Healthy Medicinal Leaf  \n**\\# Classes**: 20  \n**\\# Images**: 800  \n**Keywords**: medicinal leaf, plants, plant diseases  \n**Data Format**: images  \n**Image size**: 128x128  \n\n**License (original data release)**: CC BY 4.0  \n**License URL(original data release)**: https://data.mendeley.com/datasets/nnytj2v3n5/1\nhttps://creativecommons.org/licenses/by/4.0/\n \n**License (Meta-Album data release)**: CC BY 4.0  \n**License URL (Meta-Album data release)**: [https://creativecommons.org/licenses/by/4.0/](https://creativecommons.org/licenses/by/4.0/)', metadata={'did': 44314, 'name': 'Meta_Album_MED_LF_Micro'})]

## Get the most frequently used words in the dataset descriptions

In [11]:
config["long_context_reorder"] = False
get_result_from_query("find me a dataset about food preferences", qa=qa_dataset, 
type_of_query="dataset", config=config)

,id,name,command,OpenML URL,Description
0,43339,Chocolate-Bar-Ratings,dataset = openml.datasets.get_dataset(43339),"<a href=""https://www.openml.org/search?type=da...","did - 43339, name - Chocolate-Bar-Ratings, ver..."
1,43446,Online-Food-Delivery-Preferences-Bangalore-region,dataset = openml.datasets.get_dataset(43446),"<a href=""https://www.openml.org/search?type=da...","(string)], 28 : [28 - Unavailability (string)]..."
2,43825,Nutritional-values-for-common-foods-and-products,dataset = openml.datasets.get_dataset(43825),"<a href=""https://www.openml.org/search?type=da...","- serine (string)], 54 : [54 - threonine (stri..."
3,42133,cacao_flavor,dataset = openml.datasets.get_dataset(42133),"<a href=""https://www.openml.org/search?type=da...","did - 42133, name - cacao_flavor, version - 3,..."
4,43600,Updated-Wine-Enthusiast-Reviews,dataset = openml.datasets.get_dataset(43600),"<a href=""https://www.openml.org/search?type=da...","(numeric)], 4 : [4 - price (numeric)], 5 : [5 ..."
5,42089,vancouver_employee,dataset = openml.datasets.get_dataset(42089),"<a href=""https://www.openml.org/search?type=da...","2 : [2 - review_time (numeric)], 3 : [3 - revi..."
6,985,squash-unstored,dataset = openml.datasets.get_dataset(985),"<a href=""https://www.openml.org/search?type=da...","10 : [10 - groundspot_a* (numeric)], 11 : [11 ..."
7,42078,beer_reviews,dataset = openml.datasets.get_dataset(42078),"<a href=""https://www.openml.org/search?type=da...","(numeric)], 3 : [3 - review_overall (numeric)]..."
10,1498,sa-heart,dataset = openml.datasets.get_dataset(1498),"<a href=""https://www.openml.org/search?type=da...",sbp systolic blood pressure \ntobacco cumu...
11,340,squash-stored,dataset = openml.datasets.get_dataset(340),"<a href=""https://www.openml.org/search?type=da...",25. Acceptability - the acceptability of the f...
14,43651,Winedata,dataset = openml.datasets.get_dataset(43651),"<a href=""https://www.openml.org/search?type=da...","(numeric)], 1 : [1 - country (string)], 2 : [2..."
17,43589,combined-wine-data,dataset = openml.datasets.get_dataset(43589),"<a href=""https://www.openml.org/search?type=da...",Title: Wine Quality\nSources Created by: Paulo...
19,40498,wine-quality-white,dataset = openml.datasets.get_dataset(40498),"<a href=""https://www.openml.org/search?type=da...",Available at: [@Elsevier] http://dx.doi.org/10...
21,43536,Chennai-Zomato-Restaurants-Data,dataset = openml.datasets.get_dataset(43536),"<a href=""https://www.openml.org/search?type=da...","- Zomato_URL (string)], 1 : [1 - Name_of_Resta..."
24,43758,Worldwide-Meat-Consumption,dataset = openml.datasets.get_dataset(43758),"<a href=""https://www.openml.org/search?type=da...",Meat consumption is related to living standard...
26,372,internet_usage,dataset = openml.datasets.get_dataset(372),"<a href=""https://www.openml.org/search?type=da...",2. http://www.public.iastate.edu/~dicook/\n ...
27,43739,Country_data,dataset = openml.datasets.get_dataset(43739),"<a href=""https://www.openml.org/search?type=da...","- Obesity_-_adult_prevalence_rate (string)], 7..."
28,43695,Red-Wine-Quality,dataset = openml.datasets.get_dataset(43695),"<a href=""https://www.openml.org/search?type=da...",Inspiration\nUse machine learning to determine...
29,511,plasma_retinol,dataset = openml.datasets.get_dataset(511),"<a href=""https://www.openml.org/search?type=da...",Summary:\nObservational studies have suggested...
30,24,mushroom,dataset = openml.datasets.get_dataset(24),"<a href=""https://www.openml.org/search?type=da...",### Description\n\nThis dataset describes mush...
34,1527,volcanoes-a1,dataset = openml.datasets.get_dataset(1527),"<a href=""https://www.openml.org/search?type=da...","[Web Link], qualities - AutoCorrelation : 0.94..."
36,43986,wine_quality,dataset = openml.datasets.get_dataset(43986),"<a href=""https://www.openml.org/search?type=da...",1. Title: Wine Quality \n\n2. Sources\nCreated...
37,560,bodyfat,dataset = openml.datasets.get_dataset(560),"<a href=""https://www.openml.org/search?type=da...","Behnke, A.R. and Wilmore, J.H. (1974). _Evalua..."
39,43499,Bechdel-Cast-Data,dataset = openml.datasets.get_dataset(43499),"<a href=""https://www.openml.org/search?type=da...","[2 - title (string)], 3 : [3 - guest_name (str..."
40,43574,Marginal-Revolution-Blog-Post-Data,dataset = openml.datasets.get_dataset(43574),"<a href=""https://www.openml.org/search?type=da...","1 : [1 - comment.count (numeric)], 2 : [2 - da..."
41,171,primary-tumor,dataset = openml.datasets.get_dataset(171),"<a href=""https://www.openml.org/search?type=da...","From: 22 To: breast, qual..."
43,179,adult,dataset = openml.datasets.get_dataset(179),"<a href=""https://www.openml.org/search?type=da...","e-mail: ronnyk '@' live.com for questions., qu..."
45,43607,WMO-Hurricane-Survival-Dataset,dataset = openml.datasets.get_dataset(43607),"<a href=""https://www.openml.org/search?type=da...","(string)], 4 : [4 - EDU_DATA (string)], 5 : [5..."
46,393,la2s.wc,dataset = openml.datasets.get_dataset(393),"<a href=""https://www.openml.org/search?type=da...",": [10173 - smell (numeric)], 10174 : [10174 - ..."
47,43767,Development-Category-(10k-courses)-from-Udemy,dataset = openml.datasets.get_dataset(43767),"<a href=""https://www.openml.org/search?type=da...","2 : [2 - url (string)], 3 : [3 - is_paid (nomi..."
48,40,sonar,dataset = openml.datasets.get_dataset(40),"<a href=""https://www.openml.org/search?type=da...","From: M To: Mine, qualit..."

In [8]:
config["long_context_reorder"] = True
get_result_from_query("find me a dataset about food preferences", qa=qa_dataset, 
type_of_query="dataset", config=config)

[INFO] Reordering results...
[INFO] Reordering complete.

,id,name,command,OpenML URL,Description
0,43446,Online-Food-Delivery-Preferences-Bangalore-region,dataset = openml.datasets.get_dataset(43446),"<a href=""https://www.openml.org/search?type=da...","(string)], 28 : [28 - Unavailability (string)]..."
1,42133,cacao_flavor,dataset = openml.datasets.get_dataset(42133),"<a href=""https://www.openml.org/search?type=da...","did - 42133, name - cacao_flavor, version - 3,..."
2,42089,vancouver_employee,dataset = openml.datasets.get_dataset(42089),"<a href=""https://www.openml.org/search?type=da...","2 : [2 - review_time (numeric)], 3 : [3 - revi..."
3,42078,beer_reviews,dataset = openml.datasets.get_dataset(42078),"<a href=""https://www.openml.org/search?type=da...","(numeric)], 3 : [3 - review_overall (numeric)]..."
4,342,squash-unstored,dataset = openml.datasets.get_dataset(342),"<a href=""https://www.openml.org/search?type=da...","16 : [16 - starch (numeric)], 17 : [17 - sweet..."
5,340,squash-stored,dataset = openml.datasets.get_dataset(340),"<a href=""https://www.openml.org/search?type=da...","(numeric)], 18 : [18 - sweetness (numeric)], 1..."
8,43589,combined-wine-data,dataset = openml.datasets.get_dataset(43589),"<a href=""https://www.openml.org/search?type=da...",Title: Wine Quality\nSources Created by: Paulo...
9,40498,wine-quality-white,dataset = openml.datasets.get_dataset(40498),"<a href=""https://www.openml.org/search?type=da...",Available at: [@Elsevier] http://dx.doi.org/10...
10,43536,Chennai-Zomato-Restaurants-Data,dataset = openml.datasets.get_dataset(43536),"<a href=""https://www.openml.org/search?type=da...","- Zomato_URL (string)], 1 : [1 - Name_of_Resta..."
13,43739,Country_data,dataset = openml.datasets.get_dataset(43739),"<a href=""https://www.openml.org/search?type=da...","- Obesity_-_adult_prevalence_rate (string)], 7..."
14,511,plasma_retinol,dataset = openml.datasets.get_dataset(511),"<a href=""https://www.openml.org/search?type=da...",Summary:\nObservational studies have suggested...
15,24,mushroom,dataset = openml.datasets.get_dataset(24),"<a href=""https://www.openml.org/search?type=da...",### Description\n\nThis dataset describes mush...
16,43339,Chocolate-Bar-Ratings,dataset = openml.datasets.get_dataset(43339),"<a href=""https://www.openml.org/search?type=da...",Each chocolate is evaluated from a combination...
18,560,bodyfat,dataset = openml.datasets.get_dataset(560),"<a href=""https://www.openml.org/search?type=da...","Behnke, A.R. and Wilmore, J.H. (1974). _Evalua..."
19,43499,Bechdel-Cast-Data,dataset = openml.datasets.get_dataset(43499),"<a href=""https://www.openml.org/search?type=da...","[2 - title (string)], 3 : [3 - guest_name (str..."
20,171,primary-tumor,dataset = openml.datasets.get_dataset(171),"<a href=""https://www.openml.org/search?type=da...","From: 22 To: breast, qual..."
21,179,adult,dataset = openml.datasets.get_dataset(179),"<a href=""https://www.openml.org/search?type=da...","e-mail: ronnyk '@' live.com for questions., qu..."
22,43607,WMO-Hurricane-Survival-Dataset,dataset = openml.datasets.get_dataset(43607),"<a href=""https://www.openml.org/search?type=da...","(string)], 4 : [4 - EDU_DATA (string)], 5 : [5..."
23,43767,Development-Category-(10k-courses)-from-Udemy,dataset = openml.datasets.get_dataset(43767),"<a href=""https://www.openml.org/search?type=da...","2 : [2 - url (string)], 3 : [3 - is_paid (nomi..."
24,40,sonar,dataset = openml.datasets.get_dataset(40),"<a href=""https://www.openml.org/search?type=da...","From: M To: Mine, qualit..."
26,393,la2s.wc,dataset = openml.datasets.get_dataset(393),"<a href=""https://www.openml.org/search?type=da...",": [10173 - smell (numeric)], 10174 : [10174 - ..."
29,43574,Marginal-Revolution-Blog-Post-Data,dataset = openml.datasets.get_dataset(43574),"<a href=""https://www.openml.org/search?type=da...","1 : [1 - comment.count (numeric)], 2 : [2 - da..."
30,43825,Nutritional-values-for-common-foods-and-products,dataset = openml.datasets.get_dataset(43825),"<a href=""https://www.openml.org/search?type=da...","Unnamed:_0 (numeric)], 1 : [1 - name (string)]..."
31,43986,wine_quality,dataset = openml.datasets.get_dataset(43986),"<a href=""https://www.openml.org/search?type=da...",1. Title: Wine Quality \n\n2. Sources\nCreated...
32,1527,volcanoes-a1,dataset = openml.datasets.get_dataset(1527),"<a href=""https://www.openml.org/search?type=da...","[Web Link], qualities - AutoCorrelation : 0.94..."
35,43695,Red-Wine-Quality,dataset = openml.datasets.get_dataset(43695),"<a href=""https://www.openml.org/search?type=da...",Inspiration\nUse machine learning to determine...
36,372,internet_usage,dataset = openml.datasets.get_dataset(372),"<a href=""https://www.openml.org/search?type=da...",2. http://www.public.iastate.edu/~dicook/\n ...
37,43758,Worldwide-Meat-Consumption,dataset = openml.datasets.get_dataset(43758),"<a href=""https://www.openml.org/search?type=da...",Meat consumption is related to living standard...
42,43651,Winedata,dataset = openml.datasets.get_dataset(43651),"<a href=""https://www.openml.org/search?type=da...","(numeric)], 1 : [1 - country (string)], 2 : [2..."
44,1498,sa-heart,dataset = openml.datasets.get_dataset(1498),"<a href=""https://www.openml.org/search?type=da...",sbp systolic blood pressure \ntobacco cumu...
47,43600,Updated-Wine-Enthusiast-Reviews,dataset = openml.datasets.get_dataset(43600),"<a href=""https://www.openml.org/search?type=da...","(numeric)], 4 : [4 - price (numeric)], 5 : [5 ..."

In [17]:
with open("data/all_dataset_description.csv", "r") as f:
    dataset_descriptions = f.read()

In [18]:
dataset_descriptions[:100]

'did,description,qualities,features\n2,"**Author**: Unknown. Donated by David Sterling and Wray Buntin'

## Aggregate and test multiple queries

In [14]:
## Aggregate results from multiple queries
queries = ["Find datasets related to COVID-19", "Find datasets related to COVID-19 and India", "COVID-19 dataset", "COVID-19 dataset India", "Mexico historical covid"]
combined_df = aggregate_multiple_queries_and_count(queries,qa_dataset=qa_dataset, config=config, group_cols = ["id", "name"], sort_by="query")

 60%|██████    | 3/5 [00:00<00:00, 11.53it/s]

[INFO] Reordering results...
[INFO] Reordering complete.
[INFO] Reordering results...
[INFO] Reordering complete.
[INFO] Reordering results...
[INFO] Reordering complete.
[INFO] Reordering results...
[INFO] Reordering complete.

100%|██████████| 5/5 [00:00<00:00, 11.80it/s]

[INFO] Reordering results...
[INFO] Reordering complete.

In [15]:
combined_df.head(10)

       id                                               name  query
56  43733                          Covid-19--historical-data      5
34  43367                         COVID-19-Indonesia-Dataset      4
47  43509                     COVID-19-Rio-de-Janeiro-(City)      4
33  43365      Covid-19-Case-Surveillance-Public-Use-Dataset      4
35  43400                COVID-19-community-mobility-reports      4
37  43405              Covid-19-Turkey-Daily-Details-Dataset      4
38  43410                     Coronavirus-Disease-(COVID-19)      4
39  43412  COVID-19-Visualisation-and-Epidemic-Analysis-Data      4
41  43428                      Mexico-COVID-19-clinical-data      4
42  43457           COVID19-Dataset-with-100-World-Countries      4

In [6]:
queries = ["Find me datasets related to mushrooms", "Fungi dataset", "Mushroom dataset", "shroom data", "types of mushroom", "earth fungus", "low features mushroom dataset"]
combined_df = aggregate_multiple_queries_and_count(queries,qa_dataset=qa_dataset, config=config, group_cols = ["id", "name"], sort_by="query")
combined_df.head(10)

        id                         name  query
80   44272         Meta_Album_FNG_Micro      6
97   44302          Meta_Album_FNG_Mini      6
1       24                     mushroom      6
113  44335      Meta_Album_FNG_Extended      6
98   44303      Meta_Album_PLT_DOC_Mini      5
71   44242     Meta_Album_PLT_VIL_Micro      5
108  44321  Meta_Album_PLT_VIL_Extended      5
81   44273     Meta_Album_PLT_DOC_Micro      5
114  44336  Meta_Album_PLT_DOC_Extended      5
67   44237         Meta_Album_BCT_Micro      5

In [9]:
queries = ["plant datasets, low features", "plant, less number of features", "plant dataset, tiny"]
combined_df = aggregate_multiple_queries_and_count(queries,qa_dataset=qa_dataset, config=config, group_cols = ["id", "name"], sort_by="query")
combined_df.head(10)

       id                        name  query
22  44154             iris_reproduced      3
34  44299      Meta_Album_MED_LF_Mini      3
29  44273    Meta_Album_PLT_DOC_Micro      3
24  44242    Meta_Album_PLT_VIL_Micro      3
20  40983                        wilt      3
32  44286     Meta_Album_PLT_VIL_Mini      3
33  44293     Meta_Album_PLT_NET_Mini      3
16   1493  one-hundred-plants-texture      3
15   1492    one-hundred-plants-shape      3
14   1491   one-hundred-plants-margin      3